.App {
  text-align: center;
}
.autocomplete {
  width: 300px;
  display: inline-flex;
  padding-top: 20px;
}
h1 {
  margin-bottom: 20px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 80%;
}
button[type=submit] {
  float: right;
  width: 30%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.suggestion{
  cursor:pointer;
  width: 300px;
  margin: auto;
  text-align: center;
  border:1px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  }
  .suggestion:hover{
  background-color: #f1f1f1;
  }